# Price Sentinel - Configuração

# Gemini API (@aistudio.google.com/app/apikey)
GEMINI_API_KEY=

# OpenRouter API - alternativa (@openrouter.ai, 1000 créditos gratuitos)
OPENROUTER_API_KEY=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

# Bot Telegram (@BotFather)
TELEGRAM_TOKEN=

# Chat ID (@userinfobot)
CHAT_ID=

# Telegram API (@my.telegram.org/apps)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=